body{
     margin: 0px;
     padding: 0px;
     background :rgba(88,88,88,1);
    text-align: center;
    background-image:url(image2/cool.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    top: 30%;
    }
    h1{
        font-size: 45px;
    }
    input{
        width: 80px;
        height: 45px;
        font-size: 35px;
        border-radius: 10px;
        margin: 6px;
        background-color:white;
        color: grey; 
        border-style: none;
    }
    .btn:hover{
        background-color:blue;
        cursor: pointer;
    }
    

